*{
    box-sizing: border-box;
    border: none;
    outline: none;
}

.fondo{
    background-image: url(../images/bg-desktop-dark.jpg);
    object-fit: cover;
}

.chekbox {
    background-repeat: no-repeat;
}

.border-item {
    border-top: 1px solid rgba(155, 155, 155, 0.329);
}

@media screen and (max-width: 640px){
    .fondo {
        background-image: url(../images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}