*{
    box-sizing: border-box;
    border: none;
    outline: none;
}

.fondo{
    background-image: url(../images/bg-desktop-dark.jpg);
    object-fit: cover;
}

.chekbox {
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 640px){
    .fondo {
        background-image: url(../images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}