*{
    box-sizing: border-box;
    border: none;
    outline: none;
}

.item-check-false {
    height: 20px;
    width: 20px;
    border: 1px solid rgba(226, 226, 226, 0.342);
    border-radius: 50%;
    margin-right: 15px;
    transition: .2s all;
    cursor: pointer;
}

.item-check-false:hover {
    border-color: aliceblue;
}

.item-check-true {
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-cross {
    background-image: url(../images/icon-cross.svg);
}

.chekbox {
    background-repeat: no-repeat;
}

.border-item {
    border-top: 1px solid rgba(155, 155, 155, 0.329);
}

.dark-light-lbl {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(../images/icon-sun.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: .2s all;
}

#dark-light:checked ~ .dark-light-lbl {
    background-image: url(../images/icon-moon.svg);
}


@media screen and (max-width: 640px){
    .fondo {
        background-image: url(../images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}